<app-diretiva-ngif></app-diretiva-ngif>
<br><br>
<hr size="10" width="100%">


<app-diretiva-ngswitch></app-diretiva-ngswitch>
<br><br>
<hr size="10" width="100%">


<app-diretiva-ngfor></app-diretiva-ngfor>
<br><br>
<hr size="10" width="100%">


<app-diretiva-ng-class></app-diretiva-ng-class>
<br><br>
<hr size="10" width="100%">


<app-diretiva-ngstyle></app-diretiva-ngstyle>
<br><br>
<hr size="10" width="100%">

<!-- Tudo que estiver dentro do 'app-diretiva-ngcontext' vai ser renderizado a onde está as tags 'ng-content' -->
<app-diretiva-ngcontent>
   <div class="titulo">Título</div>
   <div class="corpo"> Corpo do Panel 1</div>
   <div class="corpo"> Corpo do Panel 2</div>
</app-diretiva-ngcontent>
<br><br>